<div class="form-group ui-front dynamic-list-form">    
    <label class="dynamic-list-new-item-label">...</label> 
    <div class="input-group">
        <input type="text" class="form-control dynamic-list-new-item" placeholder="Select new item and then press add">
        <span class="input-group-btn">
            <button class="btn btn-default dynamic-list-add" type="button">Add</button>
        </span>
    </div>
    <p class="help-block dynamic-list-help"></p>

    <div class="panel panel-default">
        <div class="panel-heading dynamic-list-heading">...</div>
        <div class="panel-body">
            <ul class="list-group dynamic-list">
                <!-- javascript populates list when form is loaded for when new objective is added to the list -->
            </ul>
        </div>
    </div>

    {{ objectiveform.dynamic_list_select(class="dynamic-list-select hidden") }} 
    
</div>