<div class="modal fade" id="edit_objective_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title">Objective</h4>
            </div>
            <div class="modal-body">
                <form class="form" action="" method="POST" id="edit_objective_form">
                    {{ objectiveform.hidden_tag() }}
                    {{ objectiveform.edit_objective_id }}     <!-- This has the id objective_id as that is the attribute name defined on the form, this is populated with the id of the objective if editiong or left blank if not so the server knows whether this was an update or a new creation -->
                    <div class="form-group" id="edit_objective_name_form_group">
                        {{ objectiveform.edit_objective_name.label }}
                        {{ objectiveform.edit_objective_name(class="form-control", placeholder="The objective should be clear, separable and testable.")}}
                        <p class="help-block" id="error_edit_objective_name"></p>
                    </div>
                    
                    <div class="dynamic-list-container" id="new_prerequisite_form_group">
                    {% include "parts/dynamic-list.html" %}
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit" id="save_objective">Save</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>