{% import "bootstrap/wtf.html" as wtf %}

<div class="modal fade" id="send_message_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title">Send New Message</h4>
            </div>
            <div class="modal-body">


                <form class="form" action="{{ url_for('main.send_message') }}" method="POST" id="send_message_form">
                {{wtf.quick_form(messageform)}}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit" id="send_message">Send</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>