.col-centered{
    float: none;
    margin: 0 auto;
}

.star{
    cursor: pointer;
}

.vote{
    cursor: pointer;
}

.starred{
    background-image: url(../images/starred.png);
}

.dynamic-list-item{
    
}

.unused-form-element-course {
    display: none;
}

/* Used by datatables */
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

.mark_assessed{
    cursor: pointer;
}
