.col-centered{
    float: none;
    margin: 0 auto;
}

.star{
    cursor: pointer;
}

.vote{
    cursor: pointer;
}

.starred{
    background-image: url(../images/starred.png);
}

.dynamic-list-item{
    
}