{% extends "layout.html" %}
{% block content %}

<!--<!DOCTYPE html>
<html>
<head>
<title>MathJax Dynamic Math Test Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->

<!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>-->
<script type="text/javascript" src="/static/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>

<script type='text/javascript'>
$(document).ready(function () {

    $(function() {

        $('#define_objectives').find('.dynamic-list-new-item-label').text("Enter new objective for this question");
        $('#define_objectives').find('.dynamic-list-heading').text("Objectives");        
                
        var availableTags = [];
        {% for objective in objectives %}
            availableTags.push('{{ objective.name }}')    
        {% endfor %}    

        $("#define_objectives").find(".dynamic-list-new-item").autocomplete({
            source: availableTags
        });
        
        $("#new_prerequisite_form_group").find(".dynamic-list-new-item").autocomplete({
            source: availableTags
        });
        
        questionObjectives = [];
        {% for objective in question_objectives %}
            questionObjectives.push('{{ objective.name }}')    
        {% endfor %}    
        dynamicList_addList(questionObjectives, $("#define_objectives"));
    
        if ({{edit_id}}>0) {
          //DJG - hit the test button
          console.log('hit test question');
          testQuestion();
        }
          
    });


    
    $("#test_question").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        testQuestion();   
    });

    $("#clear_question").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        console.log('clear question');
        $("#test_question_output").html("");
        $("#question").val("");
        $("#question_test_display").addClass("hidden");
    });

    $("#clear_answer").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        console.log('clear answer');
        $("#test_answer_output").html("");
        $("#answer").val("");    
        $("#answer_test_display").addClass("hidden");
    });

    $(".delete-question").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.

        edit_id = {{edit_id}}
        $.getJSON(flask_util.url_for('delete_question', {id: edit_id }),
            function(result) {
                if(result.savedsuccess)
                {
                    window.location.href = flask_util.url_for('questions');
                }
                else
                {       
                    window.location.reload();
                }
            }
        )
    });
    
})

function testQuestion() {
    $("#test_question_output").html($("#question").val());
    $("#test_answer_output").html($("#answer").val());        
    MathJax.Hub.Queue(["Typeset",MathJax.Hub],"test_question_output");
    MathJax.Hub.Queue(["Typeset",MathJax.Hub],"test_answer_output");
    $("#question_test_display").removeClass("hidden");
    $("#answer_test_display").removeClass("hidden");
    return false;
}    
    
</script>


<h2>{{form_header}}</h2>

<div class="row">
  <div class="col-md-12">

    <form class="form" action={{ url_for('edit_question', id=0) }} method="POST" id="edit_question_form">
        {{ form.hidden_tag() }}
        {{ form.edit_question_id }}
        <div class="form-group" id="question_form_group">
            {{ form.question.label }}
            {{ form.question(placeholder="Enter Question", class="form-control") }}
            <p class="help-block" id="error_question"></p>
        </div>
        <div class="form-group">  
          <div id="question_test_display" class="panel panel-default hidden">
            <div class="panel-body">
                <p id="test_question_output"></p>
            </div>
          </div>
          <button id="clear_question" class="btn btn-default btn-sm pull-right" type="cancel">Clear Question</button>       <!--DJG - don't understand type attribute of buttons-->
        </div>
        <div class="form-group" id="answer_form_group">
            {{ form.answer.label }}
            {{ form.answer(placeholder="Enter Answer", class="form-control") }}
            <p class="help-block" id="error_answer"></p>
        </div>
        <div class="form-group">  
          <div id="answer_test_display" class="panel panel-default hidden">
            <div class="panel-body">
                <p id="test_answer_output"></p>
            </div>
          </div>
          <button id="clear_answer" class="btn btn-default btn-sm pull-right" type="cancel">Clear Answer</button>
        </div>
        
        <div id="special_features" class="form-group">
            <label>This material contains:</label>
            <div class="row">
                <div class="col-sm-3">
                    <label class="btn btn-info">
                        {{ form.extension.label }}
                        {{ form.extension }}
                    </label>    
                </div>
                <div class="col-sm-3">    
                    <label class="btn btn-info">
                        {{ form.visually_impaired.label }}
                        {{ form.visually_impaired }}
                    </label>
                </div>
            </div>    
        </div>    
        
        <div class="form-group">
            <div class="dynamic-list-container" id="define_objectives">
                {% with dynamic_list_select=form.question_objectives %}
                {% include "subplates/dynamic-list.html" %}
                {% endwith %}
            </div>
            <button class="btn btn-sm btn-success pull-right" id="create_objective">Create New Objective</button>
        </div>
        
        <button id="test_question" class="btn btn-success" type="submit">Test</button>        
        <button id="save_question" class="btn btn-success" type="submit">Save</button>
        <button id="delete_question" class="btn btn-danger delete-question{% if edit_id == 0 %} hidden{% endif %}" type="cancel">Delete</button>
    </form>
  {% include "subplates/edit-objective-modal.html" %}
  </div>    
</div>

<hr>
<h2>Examples</h2>
<div class="example-header">You can write LaTeX expressions inside \\( and \\) braces and it will appear in line with the rest of your text:</div>

<b>For example:</b>
<div class="example-input">
What are all the roots to the equation \\( x^2-4x+3=0 \\)?
</div>
<b>Appears as:</b>
<div class="example-output">
What are all the roots to the equation \( x^2-4x+3=0 \)?
</div>


<div class="example-header">You can write LaTeX expressions inside \\[ and \\] braces and it will appear as a block within the rest of your text:</div>

<b>For example:</b>
<div class="example-input">
Diagonalise the matrix \\[ x^2-4x+3=0 \\]
</div>

<b>Appears as:</b>
<div class="example-output">
Diagonalise the matrix \[ \begin{aligned}
\nabla \times \vec{\mathbf{B}} -\, \frac1c\, \frac{\partial\vec{\mathbf{E}}}{\partial t} &amp; = \frac{4\pi}{c}\vec{\mathbf{j}} \\
\nabla \cdot \vec{\mathbf{E}} &amp; = 4 \pi \rho \\
\nabla \times \vec{\mathbf{E}}\, +\, \frac1c\, \frac{\partial\vec{\mathbf{B}}}{\partial t} &amp; = \vec{\mathbf{0}} \\
\nabla \cdot \vec{\mathbf{B}} &amp; = 0 \end{aligned} \]
</div>

<div class="example-header">Avoid using &amp;, &lt; and &gt; symbols in your questions as these get misinterpreted by the browser:</div>

<b>For example:</b>
<div class="example-input tex2jax_ignore">
Write down all inter values of \(x\) such that \( x &lt; 7 \) and \(x &gt; 3 \).
</div>

<b>Appears as:</b>
<div class="example-output">
Write down all inter values of \(x\) such that \( x &lt; 7 \) and \(x &gt; 3 \).
</div>

<div class="example-header">Avoid using &amp;, &lt; and &gt; symbols in your questions as these get misinterpreted by the browser:</div>

<b>For example:</b>
<div class="example-input tex2jax_ignore">
Write down all inter values of \(x\) such that \( x &lt; 7 &amp; x &gt; 3 \).
</div>

<b>Appears as:</b>
<div class="example-output">
Write down all inter values of \(x\) such that \( x &lt; 7 &amp; x &gt; 3 \).
</div>

<div class="example-header">Avoid using &amp;, &lt; and &gt; symbols in your questions as these get misinterpreted by the browser:</div>

<b>For example:</b>
<div class="example-input tex2jax_ignore">
Write down all inter values of \(x\) such that \( x &lt; 7 &amp; x &gt; 3 \).
</div>

<b>Appears as:</b>
<div class="example-output">
\[
\begin{enumerate}
\item
\item
\end{enumerate}
\]

</div>
{% endblock %}
