{% extends "layout.html" %}
{% block content %}

<!--<!DOCTYPE html>
<html>
<head>
<title>MathJax Dynamic Math Test Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->

<!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>-->
<script type="text/javascript" src="/static/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>

<script>

    $("#test_question").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        $("#test_question_output").value = $("#MathInput").value;
        MathJax.Hub.Queue(["Typeset",MathJax.Hub],"test_question_output");
    });




  ////
  ////  Use a closure to hide the local variables from the
  ////  global namespace
  ////
  //
  //
  //
  //(function () {
  //  var QUEUE = MathJax.Hub.queue;  // shorthand for the queue
  //  var math = null, box = null;    // the element jax for the math output, and the box it's in
  //
  //  //
  //  //  Hide and show the box (so it doesn't flicker as much)
  //  //
  //  var HIDEBOX = function () {box.style.visibility = "hidden"}
  //  var SHOWBOX = function () {box.style.visibility = "visible"}
  //
  //  //
  //  //  Get the element jax when MathJax has produced it.
  //  //
  //  QUEUE.Push(function () {
  //    math = MathJax.Hub.getAllJax("MathOutput")[0];
  //    box = document.getElementById("box");
  //    SHOWBOX(); // box is initially hidden so the braces don't show
  //  });
  //
  //  //
  //  //  The onchange event handler that typesets the math entered
  //  //  by the user.  Hide the box, then typeset, then show it again
  //  //  so we don't see a flash as the math is cleared and replaced.
  //  //
  //  window.UpdateMath = function (TeX) {
  //    QUEUE.Push(HIDEBOX,["Text",math,"\\displaystyle{"+TeX+"}"],SHOWBOX);
  //  }
  //})();
</script>

<p>
Type some \(\rm\TeX\) code and press RETURN:<br /> 
<textarea id="MathInput" rows="4" cols="50"></textarea>
</p>

<button id="test_question" class="btn btn-success" type="submit">Test</button>
<button id="clear_question" class="btn btn-danger" type="cancel">Clear</button>       <!--DJG - don't understand type attribute of buttons-->

<p>You typed:</p>
<div class="box" id="box" style="visibility:hidden"></div>
<div id="MathOutput" class="output"></div>
<div id="test_question_output">
  
</div>


<hr>
<h2>Some Latex examples hardcocded onto the page</h2>
<div class="math-header">A Cross Product Formula</div>

\[\mathbf{V}_1 \times \mathbf{V}_2 =  \begin{vmatrix}
\mathbf{i} &amp; \mathbf{j} &amp; \mathbf{k} \\
\frac{\partial X}{\partial u} &amp;  \frac{\partial Y}{\partial u} &amp; 0 \\
\frac{\partial X}{\partial v} &amp;  \frac{\partial Y}{\partial v} &amp; 0
\end{vmatrix}  \]

<div class="math-header">The probability of getting \(k\) heads when flipping \(n\) coins is</div>

\[P(E)   = {n \choose k} p^k (1-p)^{ n-k} \]

<div class="math-header">An Identity of Ramanujan</div>

\[ \frac{1}{\Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{\frac25 \pi}} =
1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {1+\frac{e^{-6\pi}}
{1+\frac{e^{-8\pi}} {1+\ldots} } } } \]

<div class="math-header">A Rogers-Ramanujan Identity</div>

\[  1 +  \frac{q^2}{(1-q)}+\frac{q^6}{(1-q)(1-q^2)}+\cdots =
\prod_{j=0}^{\infty}\frac{1}{(1-q^{5j+2})(1-q^{5j+3})},
\quad\quad \text{for $|q|&lt;1$}. \]

<div class="math-header">Maxwell&#8217;s Equations</div>
<p>
\[  \begin{aligned}
\nabla \times \vec{\mathbf{B}} -\, \frac1c\, \frac{\partial\vec{\mathbf{E}}}{\partial t} &amp; = \frac{4\pi}{c}\vec{\mathbf{j}} \\
\nabla \cdot \vec{\mathbf{E}} &amp; = 4 \pi \rho \\
\nabla \times \vec{\mathbf{E}}\, +\, \frac1c\, \frac{\partial\vec{\mathbf{B}}}{\partial t} &amp; = \vec{\mathbf{0}} \\
\nabla \cdot \vec{\mathbf{B}} &amp; = 0 \end{aligned}
\]
</p>
<p>Finally, while display equations look good for a page of samples, the ability to mix math and text in a paragraph is also important. This expression \(\sqrt{3x-1}+(1+x)^2\) is an example of an inline equation.  As you see, MathJax equations can be used this way as well, without unduly disturbing the spacing between lines.</p>


<div class="row">
  <div class="col-md-12">

    <form class="form" action={{ url_for('edit_question') }} method="POST" id="edit_question_form">
        {{ form.hidden_tag() }}
        {{ form.edit_question_id }}
        <div class="form-group" id="question_form_group">
            {{ form.question.label }}
            {{ form.question(placeholder="Enter Question", class="form-control") }}
            <p class="help-block" id="error_question"></p>
        </div>
        <div class="form-group" id="answer_form_group">
            {{ form.answer.label }}
            {{ form.answer(placeholder="Enter Answer", class="form-control") }}
            <p class="help-block" id="error_answer"></p>
        </div>
        <button id="save_question" class="btn btn-success" type="submit">Save</button>
        <button id="delete_question" class="btn btn-danger" type="cancel">Delete</button>
    </form>

  </div>    
</div>


<hr>
<h2>Some Latex examples inserted into HTML from database</h2>
{% for question in questions %}
<p>{{question.id}}</p>
<p>{{question.question}}</p>
{% endfor %}


<script>
  //
  //  IE doesn't fire onchange events for RETURN, so
  //   use onkeypress to do a blur (and refocus) to
  //   force the onchange to occur
  //
  if (MathJax.Hub.Browser.isMSIE) {
    MathInput.onkeypress = function () {
      if (window.event && window.event.keyCode === 13) {this.blur(); this.focus()}
    }
  }
</script>

{% endblock %}
