{% extends "layout.html" %}
{% block content %}

<script type='text/javascript'>
$(document).ready(function () {
    $(function() {

        $('#define_objectives').find('.dynamic-list-new-item-label').text("Enter new objective for this module");
        $('#define_objectives').find('.dynamic-list-heading').text("Objectives");        
                
        var availableTags = [];
        {% for objective in objectives %}
            availableTags.push('{{ objective.name }}')    
        {% endfor %}    

        $("#define_objectives").find(".dynamic-list-new-item").autocomplete({
            source: availableTags
        });
        
        $("#new_prerequisite_form_group").find(".dynamic-list-new-item").autocomplete({
            source: availableTags
        });
        
        moduleObjectives = [];
        {% for objective in module_objectives %}
            moduleObjectives.push('{{ objective.name }}')    
        {% endfor %}    
        dynamicList_addList(moduleObjectives, $("#define_objectives"));
    });
    
    $('[name="material_type"]').change(function() {
        var material_type = $('[name="material_type"]:checked' ).val();
        if (material_type == 'Course') {
            $(".choose-source").addClass("unused-form-element-course");    
            $(".choose-material").addClass("unused-form-element-course");
            $("#specify_module_objectives").addClass("hidden");
            $("#implied_course_objectives").removeClass("hidden");
            $("#special_features").addClass("hidden");
        }
        else {
            $(".choose-source").removeClass("unused-form-element-course");
            $(".choose-material").removeClass("unused-form-element-course");
            $("#specify_module_objectives").removeClass("hidden");
            $("#implied_course_objectives").addClass("hidden");            
            $("#special_features").removeClass("hidden");
        }
    });
    
    $('[name="material_source"]').change(function() {           //DJG - is there a better way of doing this? radio.data or radio.value? 
        var choose_material_id = 'choose_material_' + this.value;       //DJG - Not sure why this works here and not above
        $(".choose-material").addClass("hidden");
        $("#" + choose_material_id).removeClass("hidden");
    });

    $("#save_module").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        var objectives = new Array();
        $("#edit_module_form").find(".dynamic-list-item-data").each(function() {
            objectives.push($(this).text());
        });
        var course_modules = new Array();
        $("#course_modules").find(".course-module-id").each(function() {
            course_modules.push($(this).text());
        });        
                
        var data = $("#edit_module_form").serializeArray();     //DJG - http://stackoverflow.com/questions/6627936/jquery-post-with-serialize-and-extra-data
        data.push({name: 'objectives', value: objectives});
        data.push({name: 'course_modules', value: course_modules});        

        console.log(objectives);
        console.log(course_modules);
        console.log(data);          //DJG - not sure why edit_objective_id is getting repeated in the data array
        //console.log($(".dynamic-list-select").serialize());
        //console.log($(".dynamic-list-select").options[0].selected);

        //data_json = JSON.stringify(data)        //DJG - Played with alternatives to passing data back that allows the list of prerequisites to be parsed as a list object by the view function. This approach leaves the wtf form unpopulated so fails validation and no csrf, needs reviewing
        //console.log(jQuery.isPlainObject( data ));
        //console.log(typeof data);
        //console.log(data_json);      
        //console.log(jQuery.isPlainObject( data_json ));
        //console.log(typeof data_json);        
        
        $.post(  
            flask_util.url_for('editmodule', {id: {{edit_id}} }),  
            data,  
            function(json) {
                
                console.log(json);
                
                var result = $.parseJSON(json);
                console.log(result);
                console.log(result["savedsuccess"]);
                console.log(result.savedsuccess);                
        
                $("#edit_module_form").find(".help-block").text("");
                $(".has-error").removeClass("has-error");
                            
                if(result.savedsuccess)
                {
                    window.location.href = flask_util.url_for('module', {id: result.module_id});
                }
                else
                {       
                    if(result.name!=undefined) {
                        $("#error_edit_module_name").text(result.name[0]);
                        $("#edit_module_name_form_group").addClass("has-error");
                    };
        
                    if(result.material!=undefined) {
                        $(".error_edit_module_material").text(result.material[0]);
                        $(".choose-material").addClass("has-error");
                    };
                    
                    if(result.objectives!=undefined) {
                        $("#edit_module_form").find(".dynamic-list-help").text(result.objectives[0]);
                        $("#edit_module_form").find(".dynamic-list-form").addClass("has-error");
                    }    
                }
                
            }
        );
    });

    $("#cancel").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        if ({{edit_id}} > 0) {
            window.location.href = flask_util.url_for('module', {id: {{edit_id}} }); 
        }
        else{
            window.location.href = flask_util.url_for('index');
        }
    });


    $("#delete").click(function(event){
        event.preventDefault();     //DJG - don't want submit button to post the form as well as the ajax request or get 400 bad request error. Not sure if this is the right way to fix it.
        if ({{edit_id}} > 0) {
            $.getJSON(flask_util.url_for('delete_module', {id: {{edit_id}} }),
                function(result) {
                    if(result.savedsuccess)
                    {
                        window.location.href = flask_util.url_for('index');
                    }
                    else
                    {       
                        window.location.reload();
                    }
                }
            )
        }
        else{
            window.location.reload();
        }
    });
    

    //For the course module re-ordering    
    $(function() {
        $( "#course_modules" ).sortable();
        $( "#course_modules" ).disableSelection();
    });
});

//DJG - the location.reload on completing the modal objective form wipes the create module form, need to explore work-arounds
</script>


<h2>{{form_header}}</h2>

<form id="edit_module_form" enctype=multipart/form-data action="" class="form" method="POST">      <!-- DJG - need to point to right module id -->
    {{edit_module_form.hidden_tag()}}   <!-- DJG - needed for cross-site request forgery prevention -->
    
    <div id = "edit_module_name_form_group", class="form-group">
        {{ edit_module_form.name.label }}
        {{ edit_module_form.name(placeholder="E.g. Solving quadratic equations", class="form-control") }}
        <p class="help-block" id="error_edit_module_name"></p>
    </div>

    <div class="form-group">
        {{ edit_module_form.description.label }}
        {{ edit_module_form.description(placeholder="Enter a brief description to sell your course to potential students", class="form-control") }}
        <p class="help-block"></p>
    </div>

    <div class="form-group">
        {{ edit_module_form.notes.label }}
        {{ edit_module_form.notes(placeholder="Additional notes pointing to other material or describing how your material fits in to what your students are learning can be very helpful", class="form-control") }}
        <p class="help-block"></p>
    </div>

    <div class="form-group{% if edit_id > 0 %} hidden{% endif %}"> 
        {{ edit_module_form.material_type.label }}
        <ul class="list-unstyled">
        {% for subfield in edit_module_form.material_type %}
        <li>
        {{ subfield }} {{ subfield.label }}
        </li>
        {% endfor %}
        </ul>
        <p class="help-block"></p>
    </div>

    <div class="panel panel-default{% if edit_module_form.material_type.data != "Course" %} hidden{% endif %}">
        <div class="panel-heading dynamic-list-heading">Course Modules</div>
        <div class="panel-body">
            <ul class="list-group" id="course_modules">
                {% for mod in module.modules %}
                <li class="list-group-item">
                    <span hidden class="course-module-id">{{mod.id}}</span>
                    {{mod.name}}
                    <span class="input-group-btn"><button class="btn btn-link" type="button" onclick="$(this).closest('li').remove()">&times;</button></span>
                </li>    
                {% endfor %}    
            </ul>
        </div>
        <div class="panel-footer"><i>Add new modules to your course from the individual module pages</i></div>
    </div>
    
    <div class="form-group choose-source{% if edit_module_form.material_type.data == "Course" %} hidden{% endif %}"> 
        {{edit_module_form.material_source.label}}
        <ul class="list-unstyled">
        {% for subfield in edit_module_form.material_source %}
        <li>
        {{ subfield }} {{ subfield.label }}
        </li>
        {% endfor %}
        </ul>
        <p class="help-block"></p>
    </div>
    
    <div id="choose_material_upload" class="form-group choose-material{% if edit_module_form.material_source.data != "upload" %} hidden{% endif %}">
        {{ edit_module_form.material_upload.label }}
        {{ edit_module_form.material_upload }} 
        <p class="help-block error_edit_module_material"></p>
    </div>

    <div id="choose_material_youtube" class="form-group choose-material{% if edit_module_form.material_source.data != "youtube" %} hidden{% endif %}">
        {{ edit_module_form.material_youtube.label }}
        {{ edit_module_form.material_youtube }} 
        <p class="help-block error_edit_module_material"></p>
    </div>    

    <!--DJG - if this is below the implied objectives div the form doesn't serialise the data-->
    <div id="special_features" class="form-group{% if edit_module_form.material_type.data == "Course" %} hidden{% endif %}">
        <label>This material contains:</label>
        <div class="row">
            <div class="col-sm-3">
                <label class="btn btn-info">
                    {{ edit_module_form.subtitles.label }}
                    {{ edit_module_form.subtitles }}
                </label>
            </div>
            <div class="col-sm-3">
                <label class="btn btn-info">
                    {{ edit_module_form.easy_language.label }}
                    {{ edit_module_form.easy_language }}        
                </label>
            </div>
            <div class="col-sm-3">
                <label class="btn btn-info">
                    {{ edit_module_form.extension.label }}
                    {{ edit_module_form.extension }}
                </label>    
            </div>
            <div class="col-sm-3">    
                <label class="btn btn-info">
                    {{ edit_module_form.for_teachers.label }}
                    {{ edit_module_form.for_teachers }}
                </label>
            </div>        
        </div>    
    </div>    
    
    <div id="specify_module_objectives" class="form-group{% if edit_module_form.material_type.data == "Course" %} hidden{% endif %}">
        <div class="dynamic-list-container" id="define_objectives">
            {% include "subplates/dynamic-list.html" %}
        </div>
        {% include "subplates/edit-objective-modal.html" %}
        <button class="btn btn-default btn-sm btn-success pull-right" id="create_objective">Create New Objective</button>
    </div>

    <div id="implied_course_objectives" class="{% if edit_module_form.material_type.data != "Course" %}hidden{% endif %}">
        {% if edit_id > 0 %}            
        {% if module.course_objectives() %}    
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Objectives covered by this Course</div>
          <ul class="list-group">
            {% for obj in module.course_objectives() %}
            <li class="list-group-item">{{ obj.name }}</li>
            {% endfor %}
          </ul>
        </div>        
        {% endif %}
        {% endif %}
    </div>    
    

    <button id="save_module" class="btn btn-success" type="submit">Save Module</button>
    <button id="cancel" class="btn btn-success" type="cancel">Cancel</button>       <!--DJG - don't understand type attribute of buttons-->
    {% if edit_id > 0 %}<button id="delete" class="btn btn-danger" type="cancel">Delete</button>{% endif %}    
    
</form>

<br />



{% endblock %}