{% extends "layout.html" %}
{% block content %}

<script type='text/javascript'>
$(document).ready(function () {
    $(function() {

        $('#include_modules').find('.dynamic-list-new-item-label').text("Enter new modules for this course");                $('#define_objectives').find('.dynamic-list-heading').text("Objectives");                
        $('#include_modules').find('.dynamic-list-heading').text("Modules");        
    
        var availableTags = [];
        {% for um in g.user.recent_modules(50) %}
            availableTags.push('{{ um.module.name }}   |   {{ um.module.author.name }}' + '{% if um.starred %}   |   Starred{% endif %}')    //DJG - Cannot allow | in module names with this implementation
        {% endfor %}        
    
        $("#include_modules").find(".dynamic-list-new-item").autocomplete({
            source: availableTags
        });
    });
});

//DJG - the location.reload on completing the modal objective form wipes the create module form, need to explore work-arounds
</script>

<form action="." class="form" method="POST">      <!-- DJG - what is best practice for getting a form to submit back to itself? http://stackoverflow.com/questions/1131781/is-it-a-good-practice-to-use-an-empty-url-for-a-html-forms-action-attribute-a  -->
    {{edit_material_form.hidden_tag()}}   <!-- DJG - needed for cross-site request forgery prevention -->
    
    <div class="form-group {% if edit_material_form.name.errors %} has-error {% endif %}">
        {{ edit_material_form.name.label }}
        {{ edit_material_form.name(placeholder="E.g. Solving quadratic equations", class="form-control") }}
        <p class="help-block">{{ edit_material_form.name.errors[0] }}</p>
    </div>

    <div class="form-group {% if edit_material_form.brief_description.errors %} has-error {% endif %}">
        {{ edit_material_form.brief_description.label }}
        {{ edit_material_form.brief_description(placeholder="Enter a brief description to sell your course to potential students", class="form-control") }}
        <p class="help-block">{{ edit_material_form.brief_description.errors[0] }}</p>
    </div>

    <div class="form-group {% if edit_material_form.notes.errors %} has-error {% endif %}">
        {{ edit_material_form.notes.label }}
        {{ edit_material_form.notes(placeholder="Additional notes pointing to other material or describing how your material fits in to what your students are learning can be very helpful", class="form-control") }}
        <p class="help-block">{{ edit_material_form.notes.errors[0] }}</p>
    </div>
    
    <div class="dynamic-list-container" id="include_modules">
        {% include "parts/dynamic-list.html" %}
    </div>
    
    <button class="btn btn-success" type="submit">Save Course</button>    
    
</form>

{% endblock %}