{% extends "layout.html" %}
{% block content %}

<script type='text/javascript'>
$(document).ready(function () {
    
    $('#edit_members_form_group').find('.dynamic-list-new-item-label').text("Enter new user email");
    $('#edit_members_form_group').find('.dynamic-list-heading').text("Members");    
    //$('#edit_members_form_group').find('.dynamic-list-new-item').setAttribute('placeholder', '')      
    
    var availableTags = [];
    {% for student in g.user.all_students() %}
        availableTags.push('{{ student.email }}')    
    {% endfor %}    
        
    $("#edit_members_form_group").find(".dynamic-list-new-item").autocomplete({
        source: availableTags
    });    
    
    $(".edit-group").click(function(){
        $("#edit_group_panel").removeClass("hidden")
        var group_id = this.id.split('_')[0];
        console.log(group_id);
        if (group_id == 0) {
            console.log("clear");
            $("#edit_group_id").val(0)
            $("#edit_group_name").val("")
            $("#edit_group_form").find(".dynamic-list-new-item").val("");
            $("#edit_group_form").find(".help-block").text("");
            $("#edit_group_form").find(".has-error").removeClass("has-error");
            $("#edit_group_form").find(".dynamic-list-item").remove(); 
            $("#delete_group").addClass("hidden")
        }
        else {
            $.getJSON(
                flask_util.url_for('group_get', {id: group_id }),
                function(result) {
                    console.log(result);        //DJG - test returned data
                    if(result.error!=undefined) {
                        location.reload(true)
                    }
                    else {
                        $("#edit_group_id").val(result.id)
                        $("#edit_group_name").val(result.name)
                        $("#edit_group_form").find(".dynamic-list-new-item").val("");
                        $("#edit_group_form").find(".help-block").text("");
                        $("#edit_group_form").find(".has-error").removeClass("has-error");
                        $("#delete_group").removeClass("hidden")
                        dynamicList_addList(result.members, $("#edit_group_form"));
                    }
                }
            );                    
        }
    });
    
    $("#save_group").click(function(){
        event.preventDefault();
        console.log('save');
        var data = $("#edit_group_form").serializeArray(); 
        $.post(  
            flask_util.url_for('group_save'),
            data, 
            function(json) {
                var result = $.parseJSON(json);
                console.log(result);
                if(result.error!=undefined || result.savedsuccess) {
                    console.log('reload');
                    location.reload(true);
                }
                else {
                    if(result.edit_group_name!=undefined) {
                        $("#error_edit_group_name").text(result.edit_group_name[0]);
                        $("#edit_group_name_form_group").addClass("has-error");
                    };                
                }
            }
        );
    });

    $("#delete_group").click(function(){
        event.preventDefault();
        group_id = $("#edit_group_id").val();
        $.getJSON(  
            flask_util.url_for('group_delete', {id: group_id }),
            function(result) {
                location.reload(true);
            }    
        );    
    });
    
});
</script>

<h1>Groups</h1>
<p>Define groups of other users to make it easier to share material and collaborate. These could be groups of students, for example a class, who you want to set and review objectives for as a whole. Or you could define groups of colleagues or fellow students you want to share great material recommendations with.</p>


<div class="row">
    <div class="col-md-6">
        <ul class="list-unstyled">
            <li><button id="0_group" type="button" class="btn btn-link edit-group">Create new group</button></li>
            {% for group in g.user.groups_created %}
            <li><button id={{group.id ~ "_group"}} type="button" class="btn btn-link edit-group">{{group.name}}</button></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <div id="edit_group_panel" class="panel panel-default hidden">
            <div class="panel-body">
                <form class="form" action="" method="POST" id="edit_group_form">
                    {{ form.hidden_tag() }}
                    {{ form.edit_group_id }}
                    <div class="form-group" id="edit_group_name_form_group">
                        {{ form.edit_group_name.label }}
                        {{ form.edit_group_name(placeholder="Enter Group Name", class="form-control") }}
                        <p class="help-block" id="error_edit_group_name"></p>
                    </div>
                    <div class="dynamic-list-container" id="edit_members_form_group">
                        {% with dynamic_list_select=form.edit_group_members %}
                        {% include "subplates/dynamic-list.html" %}
                        {% endwith %}
                    </div>
                
                    <button id="save_group" class="btn btn-success" type="submit">Save</button>
                    <button id="delete_group" class="btn btn-danger hidden" type="cancel">Delete</button>
                </form>
            </div>
        </div>
    </div>    
</div>

{% endblock %}