{% extends "layout.html" %}
{% block content %}

<div id="greeting">Hello {% if current_user.is_authenticated %}{{current_user.name }}{% else %}Stranger{% endif %}</div>


<div id="carousel_top_modules" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel_top_modules" data-slide-to="0" class="active"></li>
    <li data-target="#carousel_top_modules" data-slide-to="1"></li>
    <li data-target="#carousel_top_modules" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel_top_modules" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel_top_modules" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--
<div class="input-group">
   <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="Lectures" checked> Lectures
   </label>
   <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="Exercises"> Exercises
   </label>
   <label class="checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" value="Tools"> Interactive Tools
   </label>
</div>
   
<div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Objectives</a></li>
          <li><a href="#">Author</a></li>
          <li><a href="#">Any</a></li>
        </ul>
  </div>
</div> 
-->

<table id="table_id" class="table" cellspacing="0" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

<button id="clear_filters" type="Cancel" class="btn btn-default">Clear all filters</button>

<script>
    // Formatting function for row details
    function format ( d ) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Full name:</td>'+
                '<td>'+d.name+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Description:</td>'+
                '<td>'+d.description+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Date modified:</td>'+
                '<td>'+d.last_updated+'</td>'+
            '</tr>'+
        '</table>';
    }

    //Add Class to column given heading
    function addColumnClass(colName, className) {
        col = $('#table_id th:contains(' + colName + ')');
        col_index = col.index() + 1; // Get the index & increment by 1 to match nth-child indexing
        $('#table_id tr td:nth-child(' + col_index + ')').addClass(className);
    }
    
    $(document).ready( function () {                //DJG - https://datatables.net/manual/installation        
        
        var table = $('#table_id').DataTable( {
            //"dom": '<"toolbar">frtip',      //DJG - maybe a better way to add custom filter control       

            stateSave: true,
            
            "aoColumnDefs": [  // enables turning off sorting for the columns
                {"bVisible": false, "aTargets": [0, 1]}  //DJG - targets grid columns to hide - just add the column to be disabled into the array
            ],
            
            data: {{catalogue | safe}},
            
            columns: [

                { data: 'id', name: 'id' },      
                { data: 'material_type', name: 'type' },                
                { data: 'name', title: 'Name' },
                { data: 'description', title: 'Description' },
                { data: 'author', title: 'Author' },
                { data: 'votes', title: 'Votes' },
                { data: 'objectives', title: 'Objectives' },
                {
                    "title":          'Info',
                    "class":          'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                }
            ]
            
/*            "aoColumns": [
            { "sClass": "center",
                "mData": "TaskID",
                "mRender": function (data, type, full) {
                    return '<input type="checkbox" name="check1" value="' + data + '">';
                }
            }]*/    //DJG - investigate http://datatables.net/forums/discussion/11875/add-checkbox-to-each-row-in-datatable-for-selecting-rows
            
        } );

        // Add event listener for opening and closing details
        $('#table_id tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );
     
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );
        
        //Create Material Type Filter Control
        new_label = document.createElement('label');
        new_label.innerHTML = "Type: ";
        $('#table_id_filter').append(new_label);
        var new_select = $('<select><option value="">Show all types</option><option value="test">Test Fail</option></select>')
            .appendTo( new_label )
            .on( 'change', function () {
                table.column( 'type:name' )
                    .search( $(this).val(), true, false )       //DJG - needed to remove the regex bit of this code or empty string search would return none not all data - http://datatables.net/forums/discussion/21355/regex-and-server-side-processing-not-really-working
                    .draw();
            } );
        //Populate material type select control
        table.column( 'type:name' ).data().unique().sort().each( function ( d ) {
            new_select.append( '<option value="'+d+'">'+d+'</option>' )
        } );     
        
        //$("#table_id").dataTable().columnFilter();     //DJG - https://code.google.com/p/jquery-datatables-column-filter/wiki/ColumnFilter

        //Add classes to columns for event handling
        addColumnClass("Name", 'module-name-column')
        addColumnClass("Author", 'module-author-column')
    
        //display hand cursor on hover to let User know it's a clickable link
        $('.module-name-column, .module-author-column').hover(function() {
            $(this).css('cursor', 'pointer');
        }, function() {
            $(this).css('cursor', 'auto');
        });    
        
        $('.module-name-column').click(function() {
            module_id = table.row(this.parentNode).data().id;
            window.location.href = flask_util.url_for('main.module', {id: module_id });
        });
    
    } );
    
    $("#clear_filters").on( 'click', function( event ) {
        window.location.reload()
    });
    
</script>

<ul class="media-list">
{% for mod in modules %}
<div class="media">
    <div class="media-left">
        <a href="{{url_for('main.module', id=mod.id)}}">
            <img class="media-object" src="..." alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{mod.name}}</h4>
            {{mod.description}}
    </div>
</div>
{% endfor %}
</ul>

{% for mod in modules %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="list-group">
    {% for mod in modules %}

    <a href="{{url_for('main.module', id=mod.id)}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{mod.name}}</h4>
        <p class="list-group-item-text">{{mod.description}}</p>
    </a>
    {% endfor %}
</div>

{% endblock %}