<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="/static/css/lib/bootstrap-tagsinput.css" />-->
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//raw.github.com/jharding/typeahead.js-bootstrap.css/master/typeahead.js-bootstrap.css" media="screen">
        <!-- DJG - not needed if using bootstrap styling <link rel="stylesheet" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css"> -->
        <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">

        <link rel="shortcut icon" href="/static/images/courseme.ico" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>


    <body>
    <div class="container">   <!--Needed for twitter bootstrap. Creates an untitled section in the document outline.-->    
        <header>
          <nav class="navbar navbar-default" role="navigation">   <!--DJG - Creates an untitled section in the document outline.-->
            <h1 style="display:none;">Site Navigation</h1>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href={{ url_for('index') }}>CourseMe</a>
            </div>
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('editmodule', id=0) }}">Create new material</a></li>
                    <li><a href="{{ url_for('objectives_admin') }}">See all objectives</a></li>
                    {% if g.user.is_authenticated() %}
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Recent modules</li>
                    {% for mod in g.user.recent_modules(10) %}
                    <li><a href="{{ url_for('module', id=mod.id) }}"><span class="glyphicon glyphicon-list-alt"></span> {{mod.name}}</a></li>
                    {% endfor %}
                    <li role="presentation" class="divider"></li>
                    {% endif %} 
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search"> 
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </form>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li class="dropdown">
                  {% if g.user.is_authenticated() %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ g.user.name }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                    <li><a href="{{ url_for('profile', id=g.user.id) }}">Profile</a></li>
                    <li><a href="{{ url_for('messages', id=g.user.id) }}">Messages</a></li>
                    <li><a href="{{ url_for('objectives', id=g.user.id) }}">Learning Objectives</a></li>
                    <li><a href="#">Groups</a></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">My Material</li>
                    {% for mod in [] %}   <!--g.user.modules_authored %}-->
                    <li><a href="{{ url_for('module', id=mod.id) }}"><span class="{{mod.icon_class()}}"></span> {{mod.name}}</a></li>
                    {% endfor %}
                  </ul>
                  {% else %}
                  <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Sign in</a>                  
                  {% endif %}    
                </li>
              </ul>
              
            </div><!-- /.navbar-collapse -->
          </nav>    
        </header>    

        <!-- displaying flash messages from flask -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="jumbotron">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    

        {% block content %}
        <!-- insert page specific content here -->
        {% endblock %}

        <hr>
    
        <footer>
            <div><a href="http://glyphicons.com/">With thanks to Glphicons for making their icons freely available through Twitter Bootstrap</a></div>
            <!--<div><a href="https://janosgyerik.github.io/jquery-upvote">With thanks to jQuery Upvote for making voting widget freely available</a></div>-->


  
<!--            <ul class="list-unstyled">  
                <li class="socials"><g:plusone annotation="inline" width="150"></g:plusone></li>  
                <li class="socials"><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div></li>  
                <li class="socials"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>  
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>  
            </ul>  -->
  
        </footer>
        
        <!-- DJG - not sure which of these are needed -->
        {{ flask_util_js.js }}
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>        
        <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        <script src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/static/js/dynamic-list.js"></script>
        <script src="/static/js/edit-objective-modal.js"></script>
<!--        <script src="/static/js/lib/bootstrap/bootstrap-tagsinput.js"></script>
        <script src="/static/js/lib/bootstrap/tooltip.js"></script>
        <script src="/static/js/lib/bootstrap/popover.js"></script>
        <script src="/static/js/lib/bootstrap/collapse.js"></script>
        <script src="/static/js/lib/bootstrap/transition.js"></script>-->
        <!-- DJG - don't think I'm using any of these
        <script src="/static/js/lib/typeahead/bloodhound.js"></script>
        <script src="/static/js/lib/typeahead/typeahead.jquery.js"></script>
        <script src="/static/js/lib/typeahead/typeahead.bundle.js"></script>
        -->
    </div>
    </body>
</html>