{% extends "layout.html" %}
{% block content %}

<!-- DJG - Could use eager loading technique so users and module don't load all child data? -->

<script type='text/javascript'>
$(document).ready(function () {

    //Want to move this so not repeated everywhere a message is used - currently needs jinja though so needs to be in main page
    $(function() {
        var availableTags = [];
        {% for user in g.user.all_students() %}
            availableTags.push('{{ user.name }}');
        {% endfor %}
        console.log(availableTags);
        $("#message_to").autocomplete({
            disabled: false,
            source: availableTags
        });
    });


    // DJG - repetition of code on Objective assessment page
    $(".mark-assessed").on('click', function () {
        cell = this
        var objective_id = $(cell).closest(".objective_actions").attr("id").split('_')[0]
        console.log("assess objective " + objective_id + " clicked")
        $.getJSON(
            flask_util.url_for('main.objective_assess', {profile_id: {{g.user.id}}, objective_id: objective_id}),
            function(result) {
                $(cell).removeClass("objective_not objective_partial warning objective_complete success objective_warning danger objective_not_assigned active");  //DJG - when objective classes are properly customised can remove the warning, danger and success classes here; code is a bit poor as it needs to know the list of states available
                $(cell).addClass(result.class);
                $(cell).find('span').html(result.assessed);
            }
        );
    });

    $("#recommend_material").click(function(){
        $("#send_message_form").find(".help-block").text("");
        $("#send_message_form").find(".has-error").removeClass("has-error");
        $("#message_subject").val("New recommendation - " + "{{module.name}}" + " by " + "{{module.author.name}}")
        $("#recommended_material").val({{ module.id }});
        $("#recommended_material_form_group").addClass("hidden");
        $("#assign_objective").val('');
        $("#assign_objective_form_group").addClass("hidden");
        $("#assign_scheme").val('');
        $("#assign_scheme_form_group").addClass("hidden");
        $("#send_message_modal").modal('show');
        return false;
    });

    $(".assign-objective").click(function(){
        var objective_id = 1;
        $("#send_message_form").find(".help-block").text("");
        $("#send_message_form").find(".has-error").removeClass("has-error");
        $("#message_subject").val("New objective assignment - " + "{{module.name}}" + " by " + "{{g.user.name}}")
        $("#recommended_material").val('');
        $("#recommended_material_form_group").addClass("hidden");
        $("#assign_objective").val(objective_id);
        $("#assign_objective_form_group").addClass("hidden");
        $("#assign_scheme").val('');
        $("#assign_scheme_form_group").addClass("hidden");
        $("#send_message_modal").modal('show');
        return false;
    });

  $(".star").on('click', function( event ) {
    //console.log("Star Click");
    var star = $(this)
    star.animate({left:'+=10px'});
    star.animate({left:'-=10px'});
    
    $.getJSON(
      '/star/{{ module.id }}',
      {},   //DJG - could pass back query parameters
      function(json) {
        //console.log(json.starred);
        if (json.starred) {
          star.addClass("glyphicon-star");
          star.removeClass("glyphicon-star-empty");
        }
        else {
          star.addClass("glyphicon-star-empty");
          star.removeClass("glyphicon-star");
        }
      }
    );
  });

  $("#up-vote").on('click', function( event ) {
    //console.log("Up Vote Click");
    var current_vote = parseInt($("#current-vote").text())
    var current_total = parseInt($("#total-votes").text())    
    //console.log("original vote : " + current_vote);    
    //console.log("original total votes : " + current_total);    
    if (current_vote == 1) {
      //console.log("case 1")
      current_vote = 0
      $("#up-vote").animate({top:'+=50px'});
      $("#total-votes").text(current_total-1)
      $("#current-vote").text(current_vote)
    }
    else if (current_vote == -1) {
      //console.log("case -1")
      current_vote = 1
      $("#up-vote").animate({top:'-=50px'});
      $("#down-vote").animate({top:'+=50px'});      
      $("#total-votes").text(current_total+2)
      $("#current-vote").text(current_vote)
    }
    else {
      //console.log("case 0")
      current_vote = 1
      $("#up-vote").animate({top:'-=50px'});
      $("#total-votes").text(current_total+1)
      $("#current-vote").text(current_vote)
    }
    saveVote(current_vote)
  });

  $("#down-vote").on('click', function( event ) {
    //console.log("Down Vote Click");
    var current_vote = parseInt($("#current-vote").text())
    var current_total = parseInt($("#total-votes").text())
    //console.log("original vote : " + current_vote);    
    //console.log("original total votes : " + current_total);    
    if (current_vote == 1) {
      //console.log("case 1")
      current_vote = -1
      $("#up-vote").animate({top:'+=50px'});
      $("#down-vote").animate({top:'-=50px'});      
      $("#total-votes").text(current_total-2);
      $("#current-vote").text(current_vote);
    }
    else if (current_vote == -1) {
      //console.log("case -1")
      current_vote = 0
      $("#down-vote").animate({top:'+=50px'});      
      $("#total-votes").text(current_total+1);
      $("#current-vote").text(current_vote);
    }
    else {
      //console.log("case 0")
      current_vote = -1
      $("#down-vote").animate({top:'-=50px'});
      $("#total-votes").text(current_total-1);
      $("#current-vote").text(current_vote);
    }
    saveVote(current_vote)
  });

  function saveVote(vote) {
    console.log("writing vote to database " + vote)
    $.getJSON('/vote/{{module.id}}',
              {vote:vote},
              function(json) {
              //DJG - all reformatting of buttons should happen at this stage after checking the usernodule vote value from the response                
              }
    )
  };

  $(".add-to-course").on('click', function( event ) {  
    var module_id = {{module.id}};
    var course_id = parseInt($(this).find('span')[0].innerText);
    $.getJSON(
              flask_util.url_for('main.add_module_to_course', {module_id: module_id, course_id: course_id}),
              function(json) {
                console.log(json);
                if (json.savedsuccess = "false") {
                  window.location.reload()
                }
              }
    )
  });

  $("#btn_find_courses").on('click', function ( event ) {
    var module_id = {{module.id}};
    window.location.href = flask_util.url_for('main.index')        //DJG - for full functionality need to actually filter courses containing this module on index page
  });

  $("#btn_enroll_course").on('click', function ( event ) {
    var course_id = {{module.id}};
    $.getJSON(
              flask_util.url_for('main.course_enroll', {course_id: course_id}),
              function(json) {
                console.log(json);
                if (json.savedsuccess = "False") {
                  window.location.reload()
                }
                else {
                  var btn = $("#btn_enroll_course")
                  if (json.enrolled = "False") {
                    btn.removeClass("btn-default")
                    btn.addClass("btn-success")
                    btn.innerHTML("Enroll")
                  }
                  else {
                    btn.removeClass("btn-success")
                    btn.addClass("btn-default")
                    btn.innerHTML("Un-Enroll")                    
                  }
                }
              }
    )
  });
    
});

</script>

  {% if g.user.id == module.author_id %}
    <a href="{{url_for('main.editmodule', id=module.id)}}"><div class="well well-sm"><em>Edit material</em></div></a>
  {% endif %}
  
  <div class="row" id="module_name_course_info">
    <div class="col-sm-9">
      <header>
        <h1>{{module.name}}</h1>
        <p class="lead">{{module.description}}</p>     <!--DJG - move and format-->
        <section id="social-actions">
          <h1 style="display:none;">Social Actions</h1>
          <!-- DJG need to make accessible to screen readers using <a class="sr-only" href="#content">Skip to main content</a> -->
          <div style="font-size: large">
            <a href="#" id="recommend_material"><span class="glyphicon glyphicon-share-alt" title="Recommend this material to someone"></span></a>
            <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus" title="Create new material based on this module"></span></a>
              <ul class="dropdown-menu">
                {% if module.is_courseable() %}
                <li role="presentation" class="dropdown-header">Add this to an existing course</li>
                {% for course in g.user.visible_modules(restricted=False, authored=True, viewed=False, live=True, material_type='Course', subject=True, topic=None).all() %}
                <li><button type="button" class="btn btn-link add-to-course">{{course.name}}<span hidden>{{course.id}}</span></button></li>  
                {% endfor %}
                <li role="presentation" class="divider"></li>
                {% endif %}
                <li role="presentation" class="dropdown-header">Create new material</li>
                {% if module.is_courseable() %}
                <li><button type="button" class="btn btn-link add-to-course">Create a new Course containing this {{module.material_type}}<span hidden>0</span></button></li>
                {% endif %}
                <li><a href="#">Create a new {{module.material_type}} like this</a></li>
              </ul> 
            </span>
            <span id="voting" class="pull-right">
              {% if usermodule.starred %}
              <span class="star glyphicon glyphicon-star"></span>     <!--DJG - DRY class star-->
              {% else %}
              <span class="star glyphicon glyphicon-star-empty"></span>                  
              {% endif %}                  
              <span id="current-vote" style="display:none;">{{usermodule.vote}}</span> 
              <span id="up-vote" class="vote glyphicon glyphicon-thumbs-up"></span> 
              <span id="down-vote" class="vote glyphicon glyphicon-thumbs-down"></span>
              <span id="total-votes">{{module.votes}}</span> votes          
            </span>
          </div>          
        </section>
      </header>
    </div>
    <div class="col-sm-3">
      <aside id="course_information">
        <header><h1 style="display:none;">Course Information</h1></header>
        {% if module.material_type == "Course"%}
        <button id="btn_enroll_course" type="button" class="btn btn-lg btn-block {% if usermodule.enrolled %}btn-default{% else %}btn-success{% endif %}">
          {% if usermodule.enrolled %}Un-Enroll{% else %}Enroll{% endif %}
        </button>
        {% else %}  

          {% if usermodule.part_of_course() %}
          <a href="{{url_for('main.module', id=usermodule.part_of_course().id)}}">
            <span class="lead"><span class="glyphicon glyphicon-list-alt"></span> Course Progress</span>
            <!--DJG - could I use a progress element here?-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{usermodule.course_completed()*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{usermodule.course_completed()*100}}%;">
                {{usermodule.course_completed()*100}}%
              </div>
            </div>        
          </a>          
          {% else %}
          <button id="btn_find_courses" type="button" class="btn btn-lg btn-block btn-default" style="white-space: normal">Find Courses containing this {{module.material_type}}</button>          
          {% endif %}        
        {% endif %}
      </aside>      
    </div>
  </div>    
  <div class="row" id="material_and_objectives">
    <div class="col-sm-9">      
      <section>
        <main>
          <article id="main-module-material">
            <h1 style="display:none;">Main Content</h1>
            {% block material %}

            {% endblock %}
          </article>
          <footer>
            <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous Module HC</a></li>
              <li class="next"><a href="#">Next Module HC &rarr;</a></li>
            </ul>

          </footer>
        </main>
      </section>
    </div>
    <div class="col-sm-3">
      <section id="objectives-and-prerequisites">

        <h1 style="display:none;">Module Objectives and Prerequisites</h1>

        <span class="lead">Learning Objectives</span>
        <div class="panel-group" id="collapsable-course-navigation">
          {% for objective in module.objectives %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#{{ objective.id }}_objective">
                  {{ objective.name }}
                </a>
              </span>
            </div>
            <div id="{{ objective.id }}_objective" class="panel-collapse collapse objective_actions">
              <div class="panel-body">
                <dl class="dl">
                  <dt>Alternative Lectures</dt>
                  <dd>
                    <ul class="list-unstyled">
                      {% for lecture in objective.top_modules(module, "Lecture") %}
                      <li><a href="{{url_for('main.module', id=lecture.id)}}">{{lecture.name}}</a></li>
                      {% endfor %}
                      <li><a href="{{url_for('main.index')}}"><i>Search all...</i></a></li>
                    </ul>
                  </dd>
                  <dt>Exercises</dt>
                  <dd>
                    <ul class="list-unstyled">
                      {% for exercise in objective.top_modules(module, "Exercise") %}
                      <li><a href="{{url_for('main.module', id=exercise.id)}}">{{exercise.name}}</a></li>
                      {% endfor %}
                      <li><a href="{{url_for('main.index')}}"><i>Search all...</i></a></li>
                    </ul>
                  </dd>
                  <dt>Interactive Tools</dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li><a href="{{url_for('main.index')}}"><i>Search all...</i></a></li>
                    </ul>
                  </dd>
                  <dt>Assessment</dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li><button class="mark-assessed {{ objective.assessed_display_class(g.user, g.user) }}">Self Assessment: <span></span></button></li>
                      <li><a href="{{url_for('main.index')}}" class="assign-objective" ><i>Assign to students...</i></a></li>
                      <li><a href="{{url_for('main.index')}}"><i>Add to scheme of work...</i></a></li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

          {% endfor %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#prerequisites">
                  <i>assumed knowledge</i>
                </a>
              </span>
            </div>
            <div id="prerequisites" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  {% for objective in module.objectives %}
                  {% for prerequisite in objective.prerequisites %}
                  <li><a href="">{{ prerequisite.name }}</a></li>
                  {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        Contains:
        <div {% if not module.subtitles %}hidden{% endif %}>Subtitles</div>
        <div {% if not module.easy_language %}hidden{% endif %}>Easy Language</div>
        <div {% if not module.extension %}hidden{% endif %}>Extension Material</div>
        <div {% if not module.for_teachers %}hidden{% endif %}>Ideas for Teachers</div>
        Search for:
        <div {% if module.subtitles %}hidden{% endif %}>Subtitles</div>
        <div {% if module.easy_language %}hidden{% endif %}>Easy Language</div>
        <div {% if module.extension %}hidden{% endif %}>Extension Material</div>
        <div {% if module.for_teachers %}hidden{% endif %}>Ideas for Teachers</div>

      </section>
    </div>
  </div>

  <div class="row" id="notes-and-profiles">
    <div class="col-sm-9">
      <section id="notes">
        <h1 style="display:none;">Module Notes</h1>
        <ul class="nav nav-tabs">
          <li><a href="#author-notes" data-toggle="tab">Author Notes</a></li>
          <li><a href="#tutor-notes" data-toggle="tab">Tutor Notes</a></li>
          <li><a href="#my-notes" data-toggle="tab">My Notes</a></li>
        </ul>
  
        <div class="tab-content">
          <article class="tab-pane active" id="author-notes">
            <h1 style="display:none;">Author Notes</h1>
            {{module.notes}}
          </article>
          <article class="tab-pane" id="tutor-notes">
            <h1 style="display:none;">Tutor Notes</h1>
            Furthermore, these are my tutor's notes. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </article>
          <article class="tab-pane" id="my-notes">
            <h1 style="display:none;">My Notes</h1>
            <button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
             {{usermodule.notes}}
          </article>
        </div>
      </section>
    </div>
  
    <div class="col-sm-3">
      <aside id="profiles">
        <article class="thumbnail">
          <img class = "img-responsive" id="author-picture" src="#" alt="Module Author Profile Picture">
          <span class="lead">{{ module.author.name }}</span>
          <p>{{ module.author.blurb }}</p>
          <address>Change this to a list of institutions?</address> 
        </article>
      </aside>
    </div>
  </div>  

{% include "subplates/send-message.html" %}

{% endblock %}
