{% extends "layout.html" %}
{% block content %}

<!-- DJG - Could use eager loading technique so users and module don't load all child data? -->

<script type='text/javascript'>
$(document).ready(function () {
  $(".star").on('click', function( event ) {
    //console.log("Star Click");
    var star = $(this)
    star.animate({left:'+=10px'});
    star.animate({left:'-=10px'});
    
    $.getJSON(
      '/star/{{ module.id }}',
      {},   //DJG - could pass back query parameters
      function(json) {
        //console.log(json.starred);
        if (json.starred) {
          star.addClass("glyphicon-star");
          star.removeClass("glyphicon-star-empty");
        }
        else {
          star.addClass("glyphicon-star-empty");
          star.removeClass("glyphicon-star");
        }
      }
    );
  });

  $("#up-vote").on('click', function( event ) {
    //console.log("Up Vote Click");
    var current_vote = parseInt($("#current-vote").text())
    var current_total = parseInt($("#total-votes").text())    
    //console.log("original vote : " + current_vote);    
    //console.log("original total votes : " + current_total);    
    if (current_vote == 1) {
      //console.log("case 1")
      current_vote = 0
      $("#up-vote").animate({top:'+=50px'});
      $("#total-votes").text(current_total-1)
      $("#current-vote").text(current_vote)
    }
    else if (current_vote == -1) {
      //console.log("case -1")
      current_vote = 1
      $("#up-vote").animate({top:'-=50px'});
      $("#down-vote").animate({top:'+=50px'});      
      $("#total-votes").text(current_total+2)
      $("#current-vote").text(current_vote)
    }
    else {
      //console.log("case 0")
      current_vote = 1
      $("#up-vote").animate({top:'-=50px'});
      $("#total-votes").text(current_total+1)
      $("#current-vote").text(current_vote)
    }
    saveVote(current_vote)
  });

  $("#down-vote").on('click', function( event ) {
    //console.log("Down Vote Click");
    var current_vote = parseInt($("#current-vote").text())
    var current_total = parseInt($("#total-votes").text())
    //console.log("original vote : " + current_vote);    
    //console.log("original total votes : " + current_total);    
    if (current_vote == 1) {
      //console.log("case 1")
      current_vote = -1
      $("#up-vote").animate({top:'+=50px'});
      $("#down-vote").animate({top:'-=50px'});      
      $("#total-votes").text(current_total-2);
      $("#current-vote").text(current_vote);
    }
    else if (current_vote == -1) {
      //console.log("case -1")
      current_vote = 0
      $("#down-vote").animate({top:'+=50px'});      
      $("#total-votes").text(current_total+1);
      $("#current-vote").text(current_vote);
    }
    else {
      //console.log("case 0")
      current_vote = -1
      $("#down-vote").animate({top:'-=50px'});
      $("#total-votes").text(current_total-1);
      $("#current-vote").text(current_vote);
    }
    saveVote(current_vote)
  });

  function saveVote(vote) {
    console.log("writing vote to database " + vote)
    $.getJSON('/vote/{{module.id}}',
              {vote:vote},
              function(json) {
              //DJG - all reformatting of buttons should happen at this stage after checking the usernodule vote value from the response                
              }
    )
  };

  $(".add-to-course").on('click', function( event ) {  
    var module_id = {{module.id}};
    var course_id = parseInt($(this).find('span')[0].innerText);
    $.getJSON(
              flask_util.url_for('add_module_to_course', {module_id: module_id, course_id: course_id}),
              function(json) {
                console.log(json);
                if (json.savedsuccess = "False") {
                  window.location.reload()
                }
              }
    )
  });

  $("#btn_find_courses").on('click', function ( event ) {
    var module_id = {{module.id}};
    window.location.href = flask_util.url_for('index')        //DJG - for full functionality need to actually filter courses containing this module on index page
  });

  $("#btn_enroll_course").on('click', function ( event ) {
    var course_id = {{module.id}};
    $.getJSON(
              flask_util.url_for('course_enroll', {course_id: course_id}),
              function(json) {
                console.log(json);
                if (json.savedsuccess = "False") {
                  window.location.reload()
                }
                else {
                  var btn = $("#btn_enroll_course")
                  if (json.enrolled = "False") {
                    btn.removeClass("btn-default")
                    btn.addClass("btn-success")
                    btn.innerHTML("Enroll")
                  }
                  else {
                    btn.removeClass("btn-success")
                    btn.addClass("btn-default")
                    btn.innerHTML("Un-Enroll")                    
                  }
                }
              }
    )
  });
    
});

</script>

  {% if g.user.id == module.author_id %}
    <a href="{{url_for("editmodule", id=module.id)}}"><div class="well well-sm"><i>Edit material</i></div></a>
  {% endif %}
  
  <div class="row" id="module_name_course_info">
    <div class="col-sm-9">
      <header>
        <h1>{{module.name}}</h1>
        <p class="lead">{{module.description}}</p>     <!--DJG - move and format-->
        <section id="social-actions">
          <h1 style="display:none;">Social Actions</h1>
          <!-- DJG need to make acessible to screen readers using <a class="sr-only" href="#content">Skip to main content</a> -->
          <div style="font-size: large">
            <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-share-alt"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Recommend</a></li>
              </ul> 
            </span>
            <span class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
              <ul class="dropdown-menu">
                {% if module.is_courseable() %}
                <li role="presentation" class="dropdown-header">Add this to an existing course</li>
                {% for course in g.user.module_type_authored('Course') %}
                <li><button type="button" class="btn btn-link add-to-course">{{course.name}}<span hidden>{{course.id}}</span></button></li>  
                {% endfor %}
                <li role="presentation" class="divider"></li>
                {% endif %}
                <li role="presentation" class="dropdown-header">Create new material</li>
                {% if module.is_courseable() %}
                <li><button type="button" class="btn btn-link add-to-course">Create a new Course containing this {{module.material_type}}<span hidden>0</span></button></li>
                {% endif %}
                <li><a href="#">Create a new {{module.material_type}} like this</a></li>
              </ul> 
            </span>
            <span id="voting" class="pull-right">
              {% if usermodule.starred %}
              <span class="star glyphicon glyphicon-star"></span>     <!--DJG - DRY class star-->
              {% else %}
              <span class="star glyphicon glyphicon-star-empty"></span>                  
              {% endif %}                  
              <span id="current-vote" style="display:none;">{{usermodule.vote}}</span> 
              <span id="up-vote" class="vote glyphicon glyphicon-thumbs-up"></span> 
              <span id="down-vote" class="vote glyphicon glyphicon-thumbs-down"></span>
              <span id="total-votes">{{module.votes}}</span> votes          
            </span>
          </div>          
        </section>
      </header>
    </div>
    <div class="col-sm-3">
      <aside id="course_information">
        <header><h1 style="display:none;">Course Information</h1></header>
        {% if module.material_type == "Course"%}
        <button id="btn_enroll_course" type="button" class="btn btn-lg btn-block {% if usermodule.enrolled %}btn-default{% else %}btn-success{% endif %}">
          {% if usermodule.enrolled %}Un-Enroll{% else %}Enroll{% endif %}
        </button>
        {% else %}  

          {% if usermodule.part_of_course() %}
          <a href="{{url_for("module", id=usermodule.part_of_course().id)}}">  
            <span class="lead"><span class="glyphicon glyphicon-list-alt"></span> Course Progress</span>
            <!--DJG - could I use a progress element here?-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{usermodule.course_completed()*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{usermodule.course_completed()*100}}%;">
                {{usermodule.course_completed()*100}}%
              </div>
            </div>        
          </a>          
          {% else %}
          <button id="btn_find_courses" type="button" class="btn btn-lg btn-block btn-default" style="white-space: normal">Find Courses containing this {{module.material_type}}</button>          
          {% endif %}        
        {% endif %}
      </aside>      
    </div>
  </div>    
  <div class="row" id="material_and_objectives">
    <div class="col-sm-9">      
      <section>
        <main>
          <article id="main-module-material">
            <h1 style="display:none;">Main Content</h1>
            {% block material %}

            {% endblock %}
          </article>
          <footer>
            <ul class="pager">
              <li class="previous"><a href="#">&larr; Previous Module HC</a></li>
              <li class="next"><a href="#">Next Module HC &rarr;</a></li>
            </ul>

          </footer>
        </main>
      </section>
    </div>
    <div class="col-sm-3">
      <section id="objectives-and-prerequisites">

        <h1 style="display:none;">Module Objectives and Prerequisites</h1>

        <span class="lead">Learning Objectives</span>
        <div class="panel-group" id="collapsable-course-navigation">
          {% for objective in module.objectives %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#objective_{{ objective.id }}">
                  {{ objective.name }}
                </a>
              </span>
            </div>
            <div id="objective_{{ objective.id }}" class="panel-collapse collapse">
              <div class="panel-body">
                <dl class="dl">
                  <dt>Alternative Lectures</dt>
                  <dd>
                    <ul class="list-unstyled">
                      {% for lecture in objective.top_modules(module, "Lecture") %}
                      <li><a href="{{url_for("module", id=lecture.id)}}">{{lecture.name}}</a></li>
                      {% endfor %}
                      <li><a href="{{url_for("index")}}"><i>Search all...</i></a></li>  
                    </ul>
                  </dd>
                  <dt>Exercises</dt>
                  <dd>
                    <ul class="list-unstyled">
                      {% for excercise in objective.top_modules(module, "Exercise") %}
                      <li><a href="{{url_for("module", id=exercise.id)}}">{{exercise.name}}</a></li>
                      {% endfor %}
                      <li><a href="{{url_for("index")}}"><i>Search all...</i></a></li>    
                    </ul>
                  </dd>
                  <dt>Interactive Tools</dt>
                  <dd>
                    <ul class="list-unstyled">
                      <li><a href="{{url_for("index")}}"><i>Search all...</i></a></li>  
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

          {% endfor %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">
                <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#prerequisites">
                  <i>assumed knowledge</i>
                </a>
              </span>
            </div>
            <div id="prerequisites" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-unstyled">
                  {% for objective in module.objectives %}
                  {% for prerequisite in objective.prerequisites %}
                  <li><a href="">{{ prerequisite.name }}</a></li>
                  {% endfor %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>

  <div class="row" id="notes-and-profiles">
    <div class="col-sm-9">
      <section id="notes">
        <h1 style="display:none;">Module Notes</h1>
        <ul class="nav nav-tabs">
          <li><a href="#author-notes" data-toggle="tab">Author Notes</a></li>
          <li><a href="#tutor-notes" data-toggle="tab">Tutor Notes</a></li>
          <li><a href="#my-notes" data-toggle="tab">My Notes</a></li>
        </ul>
  
        <div class="tab-content">
          <article class="tab-pane active" id="author-notes">
            <h1 style="display:none;">Author Notes</h1>
            {{module.notes}}
          </article>
          <article class="tab-pane" id="tutor-notes">
            <h1 style="display:none;">Tutor Notes</h1>
            Furthermore, these are my tutor's notes. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </article>
          <article class="tab-pane" id="my-notes">
            <h1 style="display:none;">My Notes</h1>
            <button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
             {{usermodule.notes}}
          </article>
        </div>
      </section>
    </div>
  
    <div class="col-sm-3">
      <aside id="profiles">
        <article class="thumbnail">
          <img class = "img-responsive" id="author-picture" src="#" alt="Module Author Profile Picture">
          <span class="lead">{{ module.author.name }}</span>
          <p>{{ module.author.blurb }}</p>
          <address>Change this to a list of institutions?</address> 
        </article>
      </aside>
    </div>
  </div>  



{% endblock %}
