{% extends "layout.html" %}
{% block content %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">    <!--DJG - Need to tidy these up and put them in the right places -->        
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script type='text/javascript'>
$(document).ready(function () {
    console.log("document ready")

    //Button to bring up new empty form modal to create a new objective with prerequisites
    $("#add_objective").click(function(){
            $("#edit_objective_id").val("");
            $("#edit_objective_name").val("");
            $("#new_prerequisite").val("");
            $(".help-block").text("");
            $(".has-error").removeClass("has-error");
            $(".existing-prerequisites-item").remove();
            $("#objective_form").modal('show');
            return false;
    });
    
    //Button per objective to bring up prepopulated form modal to edit the corresponding objective
    $(".edit-objective").on('click', function ( event ) {
        var objective_id = this.id.split('_')[0]
        console.log("edit button " + objective_id + " clicked")
        $.getJSON(                                      //DJG - as we are bringing all the objectives in anyway with jinja2 could we make this purely server side?
            '{{ url_for('objective_get') }}',
            {objective_id: objective_id}, 
            function(json) {
                console.log(json);
                console.log(json.prerequisites.length);
                $("#edit_objective_id").val(json.id);
                $("#edit_objective_name").val(json.name);
                $("#new_prerequisite").val("");
                $(".help-block").text("");
                $(".existing-prerequisites-item").remove();
                $(".has-error").removeClass("has-error");
                var num_objectives = json.prerequisites.length;
                for (var p = 0; p < num_objectives; p++) {
                    loadPrerequisite(json.prerequisites[p]); 
                }
                $("#objective_form").modal('show');
                return false;
            }
        );
    });

    //Button per objective to delete the corresponding objective
    $(".delete-objective").on('click', function ( event ) {
        var objective_id = this.id.split('_')[0]
        console.log("delete button " + objective_id + " clicked")
        $.get(
            '{{ url_for('objective_delete') }}',
            {objective_id: objective_id}, 
            function(data) {
                location.reload(true)
        });
    });    

    //button within the form modal to add the prerequisite named in the corresponding input text field
    $("#add_prerequisite").click(function(){
        loadPrerequisite($("#new_prerequisite").val());
        $("#new_prerequisite").val("");
    });
    
    //button within the form modal to post the new or updated objective data to the server for validation and storage
    $("#save_objective").click(function(){
        var prerequisites = new Array();
        $('.existing-prerequisites-name').each(function() {
            prerequisites.push($(this).text());
        });
        
        var data = $("#add_update_objective").serializeArray();     //DJG - http://stackoverflow.com/questions/6627936/jquery-post-with-serialize-and-extra-data
        data.push({name: 'prerequisites', value: prerequisites});

        data_json = JSON.stringify(data)        //DJG - Played with alternatives to passing data back that allows the list of prerequisites to be parsed as a list object by the view function. This approach leaves the wtf form unpopulated so fails validation and no csrf, needs reviewing
        
        console.log(prerequisites);
        console.log(data);          
        console.log(data[0]);
        console.log(data[1]);
        console.log(data[2]);
        console.log(data[3]);       //DJG - not sure why edit_objective_id is getting repeated in the data array
        console.log(data[4]);
        console.log(data[5]);
        console.log(data[5].value);      
        console.log(jQuery.isPlainObject( data ));
        console.log(typeof data);
        console.log(data_json);      
        console.log(jQuery.isPlainObject( data_json ));
        console.log(typeof data_json);        
        
        $.post(  
            '{{ url_for('objective_add_update') }}',  
            data,  
            function(json) {
                
                console.log(json);
                
                var result = $.parseJSON(json);
                console.log(result);
                console.log(result["savedsuccess"]);
                console.log(result.savedsuccess);                
                
                $(".help-block").text("");
                            
                if(result.savedsuccess)
                {
                    $("#objective_form").modal('hide');
                    location.reload();
                }
                else
                {       
                    if(result.edit_objective_name!=undefined) {
                        $("#error_edit_objective_name").text(result.edit_objective_name[0]);
                        $("#edit_objective_name_form_group").addClass("has-error");
                    }
                    if(result.new_prerequisite!=undefined) {
                        $("#error_new_prerequisite").text(result.new_prerequisite[0]);
                        $("#new_prerequisite_form_group").addClass("has-error");
                    }    
                }
            }
        );
    });
    
    $(function() {
        
        var availableTags = [];
        {% for objective in objectives %}
            availableTags.push('{{ objective.name }}')    
        {% endfor %}    

        $( "#new_prerequisite" ).autocomplete({
            source: availableTags
        });
    });
    
});

function loadPrerequisite(name){
    list = document.getElementById('existing_prerequisites');
    new_li = document.createElement('li');
    new_li.setAttribute('class', 'list-group-item existing-prerequisites-item');
    new_li.setAttribute('id', 'existing-prerequisite-' + name)
    new_div = document.createElement('div');
    new_div.setAttribute('class', 'input-group');
    new_span = document.createElement('span');
    new_span.setAttribute('class', 'existing-prerequisites-name');
    new_span.innerHTML = name;      //easier to have a separate span just containing the text we want as easier for jquery to read as innerText    
    new_span_button = document.createElement('span');
    new_span_button.setAttribute('class', 'input-group-btn');
    new_button = document.createElement('button');
    new_button.setAttribute('class', 'btn btn-link');
    new_button.setAttribute('type', 'button');
    new_button.innerHTML = "&times;";
    new_button.onclick = function() {
        list.removeChild(document.getElementById('existing-prerequisite-' + name));
    };            
    new_span_button.appendChild(new_button);
    new_div.appendChild(new_span);
    new_div.appendChild(new_span_button);    
    new_li.appendChild(new_div);
    list.appendChild(new_li);
}

</script>

{% for objective in objectives %}
<span class="row">
    <div class="col-sm-4"><b>{{ objective.name }}<b></div>
    <div class="col-sm-4">
        {{ objective.score() }}

        <ul>
            {% for prerequisite in objective.prerequisites %}
            <li>{{ prerequisite.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <button class="delete-objective" id="{{ objective.id ~ "_delete" }}">Delete</button>     <!-- ~ is a jinja2 function that works like + but first converting everything to strings -->
        <button class="edit-objective" id="{{ objective.id ~ "_edit" }}">Edit</button>
    </div>
</span>
{% endfor %}




<div class="modal fade" id="objective_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <h4 class="modal-title">Objective</h4>
            </div>
            <div class="modal-body">
                <form class="form" action="" method="POST" id="add_update_objective">
                    {{ form.hidden_tag() }}
                    {{ form.edit_objective_id }}     <!-- This has the id objective_id as that is the attribute name defined on the form, this is populated with the id of the objective if editiong or left blank if not so the server knows whether this was an update or a new creation -->
                    <div class="form-group" id="edit_objective_name_form_group">
                        {{ form.edit_objective_name.label }}
                        {{ form.edit_objective_name(class="form-control", placeholder="The objective should be clear, separable and testable.")}}
                        <p class="help-block" id="error_edit_objective_name"></p>
                    </div>
                    <div class="form-group ui-front" id="new_prerequisite_form_group">    
                        {{ form.new_prerequisite.label }}
                        <div class="input-group">
                            {{ form.new_prerequisite(class="form-control", placeholder="Add new prerequisite for this objective")}}
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="add_prerequisite" type="button">Add</button>
                            </span>
                        </div>
                        <p class="help-block" id="error_new_prerequisite"></p>
                    </div>
                    
                    <ul class="list-group", id="existing_prerequisites">
                        <!-- javascript loads existing list of prerequisites when the modal form is initiated -->
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit" id="save_objective">Save</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>


<button class="btn btn-default btn-sm btn-success" id="add_objective">Create New Objective</button>


{% endblock %}