{% extends "layout.html" %}
{% block content %}



<h1>{% if profile == g.user %}My Progress{% else %}{{profile.name}} Progress{% endif %}</h1>

<form class="form-inline">
    <div class="form-group">
        <select id="objectives_to_view" class="form-control">
            <option value=0>All Objectives</option>
            {% for scheme in g.user.schemes_of_work.all() %}
            <option value={{scheme.id}}>{{scheme.name}}</option>
            {% endfor %}
        </select>
    </div>
    
    {% if profile != g.user or g.user.has_students() %}
    <div class="form-group">
        <select id="profiles_to_view" class="form-control">
            {% if profile == g.user %}
            <option value=-1 selected=true>My Progress</option>
            {% else %}
            <option value=-2 selected=true>{{profile.name}}</option>
            <option value=-1>My Progress</option>
            {% endif %}
            {% if g.user.has_students() %}
            <option value=0>All Students</option>
            {% endif %}
            {% for gp in g.user.groups_created.all() %}
            <option value={{gp.id}}>{{gp.name}}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
</form>

<table id="objective_table" class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th class="DJG_rotate_headers">{% if profile == g.user %}Self Assessment{% elif profile.institution_student and profile.institution_student.is_member(g.user) %}{{profile.institution_student.name}} Assessment{% else %}Your Assessment{% endif %}</th> 
            <th class="hidden">CourseMe Assessment</th>
            {% if profile == g.user and not profile.institution_student %}
            <th class="hidden"></th>    
            {% elif profile == g.user %}
            <th>{{profile.institution_student.name}} Assessment</th>
            {% elif profile != g.user %}
            <th>Self Assessment</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for objective in objectives %}    
        <tr>
            <td>{{objective.name}}</td>
            <td id="{{ objective.id ~ '_assess' }}" class="mark_assessed {{ objective.assessed_display_class(profile, g.user) }}"><span class="hidden">{{ objective.assessed(profile, g.user) }}</span></td>
            <td class="hidden"></td>
            {% if profile == g.user and not profile.institution_student %}
            <td class="hidden"></td>    
            {% elif profile == g.user %}
            <td class="{{ objective.assessed_display_class(profile, profile.institution_student.creator) }}"><span class="hidden">{{ objective.assessed(profile, profile.institution_student.creator) }}</span></td>
            {% elif profile != g.user %}
            <td class="{{ objective.assessed_display_class(profile, profile) }}"><span class="hidden">{{ objective.assessed(profile, profile) }}</span></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type='text/javascript'>
$(document).ready(function () {

    var table = $('#objective_table').DataTable( {
        "paginate": false
    } );
    new $.fn.dataTable.FixedHeader( table );

    $("#objectives_to_view").val({{scheme_id}})

    
    //Button per objective to mark the corresponding objective as assessed
    $(".mark_assessed").on('click', function () {
        cell = this
        var objective_id = cell.id.split('_')[0]
        console.log("assess objective " + objective_id + " clicked")
        $.getJSON(
            flask_util.url_for('main.objective_assess', {profile_id: {{profile.id}}, objective_id: objective_id}),
            function(result) {
                $(cell).removeClass("objective_not objective_partial warning objective_complete success");  //DJG - when objective classes are properly customised can remove the warning and succsess classes here   
                $(cell).addClass(result.assessed_display_class);
                $(cell).find('span').html(result.assessed);         //DJG - Datatable not recognising the new value for sorting until the page is refreshed; need way for datatable initialise functions to be retriggered
            }
        );
    });

    $("#objectives_to_view").on('change', function () {
        var scheme_id = $(this).val();
        console.log(scheme_id);
        window.location.href = flask_util.url_for('main.objectives', {profile_id: {{profile.id}}, scheme_id: scheme_id});
    });

    $("#profiles_to_view").on('change', function () {
        var group_id = $(this).val();
        console.log(group_id)
        if (group_id == -1) {           //DJG - should all javascript if statements use ==? think I am using = elsewhere
            window.location.href = flask_util.url_for('main.objectives', {profile_id: {{g.user.id}}, scheme_id: {{scheme_id}}});
        }
        else {
            window.location.href = flask_util.url_for('main.objectives_group', {group_id: group_id, scheme_id: {{scheme_id}}, name_display: 1});
        }

    });
    
})
</script>

{% endblock %}