{% extends "layout.html" %}
{% block content %}

<!-- DJG - use class="sr-only" for accessiblity -->

<script type="text/javascript" src="/static/lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>

<style type="text/css" class="init">

    tr.group,
    tr.group:hover {
    background-color: #ddd !important;
    }

</style>

<form class="form-inline" role="form">
  <div class="form-group">
    <label for="topic_select">Select Topic</label>
    <select class="form-control" id="topic_select">
        <option selected=True>All</option>
        {% for topic in g.user.subject.topics %}
        <option>
            {{topic.name}}
        </option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="answers_required">Answers available</label>
    <input class="form-control" id="answers_required" type="checkbox">
  </div>

  <div class="form-group">
    <label for="search_input">Search</label>
    <input class="form-control" id="search_input" placeholder="">
  </div>
  <div class="form-group pull-right">
    <a href="{{url_for('questions_print')}}" class="btn btn-default pull-right" id="print_questions">Print selected questions</a>
  </div>
  <div class="form-group pull-right">
    <a href="{{url_for('deselect_all_questions')}}" class="btn btn-default pull-right" id="deselect_all_questions">Deselect all</a>
  </div>  
</form>


<h2>Questions</h2>

<table id="table_id" class="table" cellspacing="0" width="100%">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

<button id="clear_filters" type="Cancel" class="btn btn-default">Clear all filters</button>

<script>

// Formatting function for row details
//DJG - add style to give different background colour or text appearance
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Answer: </td>'+
            '<td>'+d.answer+'</td>'+
        '</tr>'+
    '</table>';
}

//Add Class to column given heading
function addColumnClass(colName, className) {
    col = $('#table_id th:contains(' + colName + ')');
    col_index = col.index() + 1; // Get the index & increment by 1 to match nth-child indexing
    $('#table_id tr td:nth-child(' + col_index + ')').addClass(className);
}


$(document).ready( function () {                //DJG - https://datatables.net/manual/installation        
    
    var table = $('#table_id').DataTable( {

        "aoColumnDefs": [  
            {"bVisible": false, "aTargets": [0, 5, 6, 7, 8]}  //DJG - targets grid columns to hide - just add the column to be disabled into the array
        ],

        data: {{catalogue | safe}},
        
        columns: [

            { data: 'id', name: 'id' },
            { data: 'question', title: 'Question', orderable: false },      //DJG - check this is turning off sorting for these columns
            { data: 'author', title: 'Author', orderable: false },
            {
                "title":          'Answer',
                "class":          'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            {
                "title":          'Include',
                "class":          'include-question',
                "orderable":      false,
                "data":           'selected',
                "defaultContent": ''
            },

            { data: 'objectives', title: 'Objectives' },
            { data: 'topics', name: 'Topics' },
            { data: 'answer', name: 'Answer' },
            { data: 'has_answer', name: 'Has_Answer' }


        ],
        
        "order": [[ 5, 'asc' ]],            //DJG - column order
        
        "displayLength": 50,

        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=[null];
 
            api.column(5, {page:'current'} ).data().each( function ( group, i ) {           //DJG - Is there a way to refer to columns here other than buy their index
                //DJG - not sure if this is right way to compare lists of strings
                if ( last.sort().toString() !== group.sort().toString() ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
                    last = group;
                }
            } );

            //display hand cursor on hover to let User know it's a clickable link
            $('.include-question').hover(function() {
                $(this).css('cursor', 'pointer');
            }, function() {
                $(this).css('cursor', 'auto');
            });    
        
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

        },
    
        "createdRow": function ( row, data, index ) {           //DJG - could use this to add selected class to individual cells based on data
            if ( data.selected == 1 ) {
                $('td', row).eq(3).addClass('success');
            }
        }    
    } );

    // Add event listener for opening and closing details
    $('#table_id tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

    $('#topic_select').on( 'change', function () {
        console.log('topic_select');
        table.column( 'Topics:name' )
            .search( $(this).val(), true, false )       //DJG - needed to remove the regex bit of this code or empty string search would return none not all data - http://datatables.net/forums/discussion/21355/regex-and-server-side-processing-not-really-working
            .draw();
    } );

    $('#answers_required').on( 'change', function () {
        if($(this).is(':checked')){
        
            table.column( 'Has_Answer:name' )
                .search( "1", true, false )       //DJG - needed to remove the regex bit of this code or empty string search would return none not all data - http://datatables.net/forums/discussion/21355/regex-and-server-side-processing-not-really-working
                .draw();
        }
        else{
            table.column( 'Has_Answer:name' )
                .search( "", true, false )       //DJG - needed to remove the regex bit of this code or empty string search would return none not all data - http://datatables.net/forums/discussion/21355/regex-and-server-side-processing-not-really-working
                .draw();
        }
    } );

    $('#search_input').on( 'change', function () {
        console.log('search');
        table.search( $(this).val(), true, false )       //DJG - needed to remove the regex bit of this code or empty string search would return none not all data - http://datatables.net/forums/discussion/21355/regex-and-server-side-processing-not-really-working
            .draw();
    } );

    $('#table_id tbody').on('click', 'td.include-question', function () {       //DJG - don't know if I need this or can just do '.include-question'.click...
        var cell = this
        question_id = table.row(this.parentNode).data().id;
        console.log(question_id);
        $.getJSON(
                  flask_util.url_for('select_question', {id: question_id}),
                  function(json) {
                    console.log(json);
                    if (json.savedsuccess = "true") {
                      $(cell).removeClass("success");                      
                      $(cell).addClass(json.selected_class)
                      console.log(cell)
                    }
                  }
        ) 
    });    
    
    console.log({{catalogue | safe}})
    
} );



$("#clear_filters").on( 'click', function( event ) {
    window.location.reload()
});

    
</script>

{% endblock %}
