{% extends "layout.html" %}
{% block content %}

<script type='text/javascript'>
$(document).ready(function () {
  
  //console.log("Select already - " + {{g.user.view_institution_only_id}});
  //$("#restrict_modules_select").val = {{g.user.view_institution_only_id}}.toString();
  
  $("#restrict_modules_select").change(function() {
    console.log("Select changed - " + this.value);
    $.getJSON(
      flask_util.url_for('restrict_modules_viewed', {user_id: {{g.user.id}}, institution_id: this.value}),
      function(json) {
        console.log(json);
        //DJG - need to handle cases
      }
    );
  });
});
</script>

{% if profile_id==g.user.id %}
<label for="restrict_modules_select">Select the material you want to be visible to you</label>
<select id="restrict_modules_select" class="form-control">
    <option value="0">All material</option>
    {% for inst in g.user.relevant_institutions() %}
    <option value="{{inst.id}}">Only material approved by {{inst.name}}</option>
    {% endfor %}
</select>
{% endif %}

{% endblock %}