<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CourseMe</title>
  <link rel="stylesheet" href="../css/lib/bootstrap.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="shortcut icon" href="../courseme.ico" />
</head>

<body>

  <div class="container">   <!--DJG - Needed for twitter bootstrap. Creates an untitled section in the document outline.-->
    <h1 style="display:none;">Module Page</h1>
    <header>
      <nav class="navbar navbar-default" role="navigation">   <!--DJG - Creates an untitled section in the document outline.-->
        <h1 style="display:none;">Site Navigation</h1>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/static/preview/catalogue.html">CourseMe</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li role="presentation" class="dropdown-header">Recently viewed material</li>
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> My latest viewed course <span class="badge badge-info">13</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> My latest viewed module</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> My latest module within one of my courses</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">My courses</li>
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course name <span class="badge badge-info">13</span></a></li>

              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search"> 
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static/preview/about.html">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Dan<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Sign Out</a></li>
                <li><a href="#">Account Settings</a></li>
                <li class="divider"></li>
                <li><a href="#">My Courses</a></li>
              </ul>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </nav>    
    </header>
  
    <div class="row" id="material-and-actions">
      <div class="col-sm-9">
        <section>
          <main>
            <header>
              <h1>Using Function Notation 3</h1>  
              <section id="social-actions">
                <h1 style="display:none;">Social Actions</h1>
                <div style="font-size: large">
                  <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-share-alt"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Recommend</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Add to course</a></li>
                    </ul> 
                  </span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <span id="voting" class="pull-right">
                    <span class="glyphicon glyphicon-hand-up"></span> 
                    <span class="glyphicon glyphicon-hand-down"></span> 312 votes          
                  </span>
                </div>          
              </section>
            </header>
            <article id="main-module-material">
              <h1 style="display:none;">Main Content</h1>
              <iframe width="100%" height="315" frameborder="0" allowfullscreen
                      src="//www.youtube.com/embed/Id6UovYjd-M">
              </iframe>
            </article>
            <footer>
              <ul class="pager">
                <li class="previous"><a href="/static/preview/module.html">&larr; Using Function Notation 2</a></li>
                <li class="next"><a href="/static/preview/module.html">Next module has a rediculously long name and so may not look that nice &rarr;</a></li>
              </ul>
            </footer>
          </main>
        </section>
      </div>
      <div class="col-sm-3">
        <aside id="course-information">
          <header><h1 style="display:none;">Course Information</h1></header>
          <a href="/static/preview/course.html">  
            <span class="lead"><span class="glyphicon glyphicon-list-alt"></span> Course Progress</span>
            <!--DJG - could i use a progress element here?-->
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>        
          </a>          
        </aside>
        <section id="objectives-and-prerequisites">

          <h1 style="display:none;">Module Objectives and Prerequisites</h1>

          <span class="lead">Learning Objectives</span>
          
          <div class="panel-group" id="collapsable-course-navigation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#objective1">
                    Evaluate a function for a given value of the input variable
                  </a>
                </span>
              </div>
              <div id="objective1" class="panel-collapse collapse">
                <div class="panel-body">
                  <dl class="dl">
                    <dt>Alternative Lectures</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#">Search all...</a></li>  
                      </ul>
                    </dd>
                    <dt>Exercises</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Hard Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Very Hard Questions</a></li>
                        <li><a href="#">Search all...</a></li>  
                      </ul>
                    <dt>Interactive Tools</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Interactive tool</a></li>
                      </ul>
                  </dl>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#objective2">
                    Use function notation to denote the output of a function
                  </a>
                </span>
              </div>
              <div id="objective2" class="panel-collapse collapse">
                <div class="panel-body">
                  <dl class="dl">
                    <dt>Alternative Lectures</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#">Search all...</a></li>  
                      </ul>
                    </dd>
                    <dt>Exercises</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Hard Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Very Hard Questions</a></li>
                        <li><a href="#">Search all...</a></li>  
                      </ul>
                    <dt>Interactive Tools</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Interactive tool</a></li>
                      </ul>
                  </dl>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#prerequisites">
                    <i>see assumed knowledge</i>
                  </a>
                </span>
              </div>
              <div id="prerequisites" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <li><a href="/static/preview/catalogue.html">Objective 1 from predefined list</a></li>
                    <li><a href="/static/preview/catalogue.html">Objective 2 from predefined list</a></li>
                    <li><a href="/static/preview/catalogue.html">Objective 3 from predefined list</a></li>  
                  </ul>
                </div>
              </div>
            </div>
          </div> 
<!--          <div class="panel-group" id="collapsable-course-navigation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#previous-material">
                    Too advanced?
                  </a>
                </span>
              </div>
              <div id="previous-material" class="panel-collapse collapse">
                <div class="panel-body">
                  Find earlier material here...
                  <dl class="dl">
                    <dt>Algebra</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">15</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                      </ul>
                    </dd>
                    <dt>Solving Equations</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Interactive tool</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">7</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                      </ul>
                    </dd>
                    <dt><a href="">Find more...</a></dt>
                  </dl>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#alternative-material">
                    Alternatives
                  </a>
                </span>
              </div>
              <div id="alternative-material" class="panel-collapse collapse">
                <div class="panel-body">
                  Find alternative stuff here.
                  <dl class="dl">
                    <dt>Courses with this module</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">23</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">15</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">12</span></a></li>
                      </ul>
                    </dd>
                    <dt>Alternative modules</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Very long lecture name to see how the formatting looks on the page - probably not very nice</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lots of links to see how the screen extends</a></li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title">
                  <a data-toggle="collapse" data-parent="#collapsable-course-navigation" href="#subsequent-material">
                    What's next...
                  </a>
                </span>
              </div>
              <div id="subsequent-material" class="panel-collapse collapse">
                <div class="panel-body">
                  Find follow on material here.
                  <dl class="dl">
                    <dt>Practice</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Hard Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Very Hard Questions</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Experiment</a></li>
                      </ul>
                    </dd>
                    <dt>Next topics</dt>
                    <dd>
                      <ul class="list-unstyled">
                        <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">13</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                      </ul>
                    </dd>
                    <dt><a href="">Find more...</a></dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          
-->
        </section>
        
      </div>  
    </div>

   
<!--    <section id="topic-tags">
      <section class="well well-sm" id="topics-required">
        <span>Assumes:</class>
        <button type="button" class="btn btn-xs btn-info" data-toggle="collapse" data-target="#required-algebra">
          algebra
        </button>

        <div id="required-algebra" class="collapse">
          agree
          disagree
          list of courses
          <ul class="list-unstyled">
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">13</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
          </ul>

          search all
        </div>
        
        <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#required-simultaneous-equations">
          simultaneous equations
        </button>

        <div class="modal fade" id="required-simultaneous-equations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Simulataneous Equations</h4>
              </div>
              <div class="modal-body">
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">13</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                </ul>
                search all
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-xs btn-info" data-toggle="collapse" data-target="#required-triangle-geometry">
          triangle geometry
        </button>

        <div id="required-triangle-geometry" class="collapse">
          agree
          disagree
          list of courses
          <ul class="list-unstyled">
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">13</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
          </ul>

          search all
        </div>
        
      </section>
      
      
      <section class="well well-sm" id="topics-recapped">
        <span>Recaps:</class>
        
      </section>

      <section class="well well-sm" id="topics-introduced">
        <span>Introduces:</class>
        
      </section>

    </section>-->
    
    

    <div class="row" id="notes-and-profiles">
      <div class="col-sm-9">
        <section id="notes">
          <h1 style="display:none;">Module Notes</h1>
          <ul class="nav nav-tabs">
            <li><a href="#author-notes" data-toggle="tab">Author Notes</a></li>
            <li><a href="#tutor-notes" data-toggle="tab">Tutor Notes</a></li>
            <li><a href="#my-notes" data-toggle="tab">My Notes</a></li>
          </ul>
    
          <div class="tab-content">
            <article class="tab-pane active" id="author-notes">
              <h1 style="display:none;">Author Notes</h1>
              These are the module author notes. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </article>
            <article class="tab-pane" id="tutor-notes">
              <h1 style="display:none;">Tutor Notes</h1>
              Furthermore, these are my tutor's notes. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </article>
            <article class="tab-pane" id="my-notes">
              <h1 style="display:none;">My Notes</h1>
              <button type="submit" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
               These are my notes. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </article>
          </div>
        </section>
      </div>
    
      <div class="col-sm-3">
        <aside id="profiles">
          <article class="thumbnail">
            <img class = "img-responsive" id="author-picture" src="media/zippy.png" alt="Module Author Profile Picture">
            <span class="lead">Author name</span>
            <p>Bit of blurb about the author</p>            
            <address>Any address details provided by the author for this purpose?</address>
          </article>
        </aside>
      </div>
    </div>
    

    
    <hr>
    
    <div class="row" id="comments-and-reporting">
      <div class="col-sm-9">
        <section>
          <ul class="nav nav-tabs">
            <li><a href="#questions" data-toggle="tab">Questions</a></li>
            <li><a href="#feedback" data-toggle="tab">Feedback</a></li>
          </ul>
    
          <div class="tab-content">
            <div class="tab-pane active" id="questions">
    
              <div class="well well-sm">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default btn-xs">
                    <input type="radio" name="options" id="filter-all-questions"> Show all
                  </label>
                  <label class="btn btn-default btn-xs">
                    <input type="radio" name="options" id="filter-class-questions"> Filter my class
                  </label>
                </div>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default btn-xs">
                    <input type="radio" name="options" id="sort-top-questions"> Top
                  </label>
                  <label class="btn btn-default btn-xs">
                    <input type="radio" name="options" id="sort-latest-questions"> Latest
                  </label>
                </div>
              </div>
    
              <div class="panel-group" id="hidden-question-form">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title">          
                      <a data-toggle="collapse" data-parent="#hidden-question-form" href="#submit-question">Ask a question…</a>
                    </span>
                  </div>  
                  <div class="panel-collapse collapse" id="submit-question">
                    <div class="panel-body form-group">
                      <label for="question-textarea">Submit a new question</label>
                      <textarea rows="3" class="form-control" id="question-textarea"  placeholder="This should appear when the user clicks on the question input text box. Loads of advice about how to write the question eg include a time reference in the video etc."></textarea>
                      <button type="submit" class="btn btn-default" id="btn-submit-question">Submit</button>
                      <button type="submit" class="btn btn-default" id="btn-cancel-question">Cancel</button>
                    </div>
                  </div>  
                </div>
              </div>  
              article>header+p+footer+(3*article>p+footer)
            </div>
            <div class="tab-pane" id="feedback">
              want to have a form with slide scales for quality and difficulty etc
              form>header+
              
            
            
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-3">
        <aside id="module-error-reporting">
          <span class="lead">Notice something wrong?</span>
          <p>If you find something like a mistake in a lecture or an exercise question that doesn't work properly then please <a href="#">let us know</a> about it so we can get it fixed.</p>
        </aside>
      </div>
    </div>
    
    <hr>
    
    <footer>
      <div><a href="http://glyphicons.com/">With thanks to Glphicons for making their icons freely available through Twiter Bootstrap</a></div>
  
      <ul class="list-unstyled">  
        <li class="socials"><g:plusone annotation="inline" width="150"></g:plusone></li>  
        <li class="socials"><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div></li>  
        <li class="socials"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>  
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>  
      </ul>  
  
    </footer>    

  
  
  </div><!--End Container-->
  
  
  <script src="../js/lib/jquery.js"></script>
  <script src="../js/lib/bootstrap.js"></script>
  <script src="../js/lib/tooltip.js"></script>
  <script src="../js/lib/popover.js"></script>
  <script src="../js/lib/collapse.js"></script>
  <script src="../js/lib/transition.js"></script>
  
</body>
</html>




  <!--  <hr>  
    
    <div id="related-material">
      <div class="row">
        <div class="col-sm-3">
          <div>
            <h4>Related Courses</h4>
            <dl class="dl">
              <dt>Courses with this module</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">23</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">15</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">12</span></a></li>
                </ul>
              </dd>
              <dt>Alternative modules</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            <h4>Too advanced?</h4>
            <dl class="dl">
              <dt>Algebra</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">15</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                </ul>
              </dd>
              <dt>Solving Equations</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Interactive tool</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">7</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
        <div class="col-sm-3">
          <div>
            <h4>What's next?</h4>
            <dl class="dl">
              <dt>Practice</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-check"></span> Questions</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-check"></span> Hard Questions</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-check"></span> Very Hard Questions</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Experiment</a></li>
                </ul>
              </dd>
              <dt>Next topics</dt>
              <dd>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Course Name <span class="badge badge-info">13</span></a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Lecture Name</a></li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
  
      </div>
    </div>-->